* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
}

header {
    background-color: black;
}

.navcontainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}








