* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
}

header {
    background-color: black;
}

.navcontainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logocontainer  .logolink, .logoimg{
    width: 70px;
    margin: 0.5rem;
}

.linksnavcontainer{
    margin: 2rem;
}

.linksnav{
    display: flex;
}

.linksnav li{
    padding: 0 1rem 0 1rem;
}

.linksnav li a{
    font-size: large;
    color: whitesmoke;
}

.linksnav li a:hover{
    color: rgb(255, 166, 0);
    text-decoration: underline;
    transition: all 1s;
}

.entrenamiento{
    height: 500px;
    width: 800px;
    transition: all 3s;
    z-index: 1;
}

.rickroll{
    height: 500px;
    width: 500px;
    z-index: 0;
}

.rickroll, .entrenamiento{
    position: absolute;
    margin: 100px;
}

.entrenamiento:hover{
    transform: translate(50px, 50px);
    opacity: 0.01;
}

.textoimagen{
    font-size: 50px;
    margin: 5rem;
    text-decoration: underline;
}

















